In [1]:
# import libraries for data cleaning and visualization
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
from geopy.geocoders import Nominatim
import re

In [2]:
# epa_df contains dataset of epa violations
# cities contains dataset of all us cities from https://simplemaps.com/data/us-cities
epa_df = pd.read_csv('../datasets/epa_violations.csv',low_memory=False)
cities = pd.read_csv('../datasets/uscities.csv',low_memory=False)

In [3]:
epa_df.info()
cities.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40567 entries, 0 to 40566
Data columns (total 37 columns):
Company                                                      40567 non-null object
Parent Company                                               15087 non-null object
Penalty Amount                                               40567 non-null object
Subtraction From Penalty                                     40567 non-null object
Penalty Amount Adjusted For Eliminating Multiple Counting    40567 non-null object
Penalty Year                                                 40567 non-null int64
Penalty Date                                                 40567 non-null int64
Primary Offense                                              40567 non-null object
Secondary Offense                                            6 non-null object
Description                                                  24630 non-null object
Level of Government                                          40567 non-null object
Action Type                                                  40567 non-null object
Agency                                                       40567 non-null object
Court                                                        0 non-null float64
Civil/Criminal                                               40567 non-null object
Prosecution Agreement                                        2 non-null object
Case ID                                                      39252 non-null object
Private Litigation Case Title                                0 non-null float64
Lawsuit Resolution                                           0 non-null float64
Facility State                                               31988 non-null object
City                                                         31698 non-null object
Address                                                      31108 non-null object
Zip                                                          31081 non-null object
NAICS Code                                                   20378 non-null float64
NAICS Translation                                            19688 non-null object
HQ Country of Parent                                         15087 non-null object
HQ State of Parent                                           10901 non-null object
Ownership Structure                                          15113 non-null object
Parent Company Stock Ticker                                  9222 non-null object
Major Industry of Parent                                     15087 non-null object
Specific Industry of Parent                                  15087 non-null object
Info Source                                                  40567 non-null object
Info Source Archive URL                                      1131 non-null object
PACER Link                                                   0 non-null float64
Captured Document                                            0 non-null float64
EPA/OSHA More Info Link                                      39252 non-null object
Notes                                                        514 non-null object
dtypes: float64(6), int64(2), object(29)
memory usage: 11.5+ MB

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

In [4]:
# Getting all rows where state or city value is empty
nan_fs = epa_df[epa_df['Facility State'].isnull() ].index
nan_add = epa_df[epa_df['City'].isnull() ].index

# Getting rid of the above rows so all the rows we deal with have a city and a state
epa_df.drop(nan_add, inplace=True)
# epa_df.drop(nan_fs, inplace=True)

# Create a second data frame with relevant information
df2 = epa_df[['Company', 'Penalty Amount', 'Facility State', 'City']]

nan_industry = epa_df[epa_df['Specific Industry of Parent'].isnull() ].index
epa_df.drop(nan_industry, inplace=True)
# Create third df with parent industry
df3 = epa_df[['Company', 'Penalty Amount', 'Facility State', 'City', 'Specific Industry of Parent']]

# df2.dtypes
# Make a deep copy of above data frame
df2 = df2.copy(deep=True)
df3 = df3.copy(deep=True)

# All the values under penalty amount column are list, and also have '$' appended to the front of the value,
# We want to convert this entire column to ints because this will be necessary when we display our map
penalty = df2['Penalty Amount'].tolist()
float_penalties = []
for amount in penalty:
    cleaned_amt = re.sub("[^0-9|.]", "", amount)
    float_penalties.append(cleaned_amt)
df2['Penalty Amount'] = float_penalties
df2.head()

penalty = df3['Penalty Amount'].tolist()
float_penalties = []
for amount in penalty:
    cleaned_amt = re.sub("[^0-9|.]", "", amount)
    float_penalties.append(cleaned_amt)
df3['Penalty Amount'] = float_penalties
df3.head()

,Company,Penalty Amount,Facility State,City,Specific Industry of Parent
8,Action Manufacturing Company,1200000,Pennsylvania,Atglen,aerospace & military contracting
11,Advanced Sterilization Products,136800,California,Irvine,pharmaceuticals
15,Ag Processing Inc,96588,Iowa,Mason City,agribusiness
17,Agrifos Fertilizer LLC,1800000,Texas,Pasadena,biofuels; fertilizers
18,Agrifos Fertilizer LLC,385000,Texas,Pasadena,biofuels; fertilizers

In [5]:
# This will be a cleaned data frame that we will use for the actual visualization
# Lat and lng coordinates needed to plot locations
cleaned_df = pd.DataFrame(columns=['company','penalty','lat','lon'])
ind_cleaned_df = pd.DataFrame(columns=['company','penalty','lat','lon'])

cleaned_df.head()

Empty DataFrame
Columns: [company, penalty, lat, lon]
Index: []

In [6]:
# an example dict to append to our new df
# This row is not added to df, this is just to make sure that I can add a new row to my data frame
new = {'company' : 'Amazon' , 'penalty' : 22222, 'lat': 1234.2, 'lon': 234.14}
cleaned_df.append(new, ignore_index=True)

  company penalty     lat     lon
0  Amazon   22222  1234.2  234.14

In [7]:
# Iterating through dataframe and checking for lat & lng coords with cities database
# If we have a match, find coords and add relevant info to dataframe
# If we don't have a match, that might mean we have some bad data, we want to ignore it
locations = []
for row in df2.itertuples():
    city_name = str(row.City).lower().title()
    if isinstance(city_name, str) and isinstance(row._3, str):
        city_row = cities.loc[(cities['city'] == city_name) & (cities['state_name'] == row._3)]

        if city_row.empty:
            a = 2
        else:
#             print('match found')
            lat = (city_row['lat'].values)[0]
            lng = (city_row['lng'].values)[0]
            company = (row.Company)
            penalty = (row._2)
            new_row = {'company': company, 
                       'penalty': penalty, 
                       'lat': lat, 
                       'lon': lng,
                       'city': city_name,
                       'state': row._3}
            cleaned_df = cleaned_df.append(new_row, ignore_index=True)
        
cleaned_df.head()

,company,penalty,lat,lon,city,state
0,A&L Cesspool Service Corporation,900000,40.7498,-73.7976,Queens,New York
1,AAA Plating and Inspection,74000,33.8930,-118.2275,Compton,California
2,"Abilene Products Co., Inc.",90660,38.9230,-97.2251,Abilene,Kansas
3,Action Manufacturing Company,1200000,39.9473,-75.9754,Atglen,Pennsylvania
4,Adams Land and Cattle Company,145000,41.4052,-99.6401,Broken Bow,Nebraska

In [10]:
locations = []
for row in df3.itertuples():
    city_name = str(row.City).lower().title()
    if isinstance(city_name, str) and isinstance(row._3, str):
        city_row = cities.loc[(cities['city'] == city_name) & (cities['state_name'] == row._3)]

        if city_row.empty:
            a = 2
        else:
#             print('match found')
            lat = (city_row['lat'].values)[0]
            lng = (city_row['lng'].values)[0]
            company = (row.Company)
            penalty = (row._2)
            new_row = {'company': company, 
                       'penalty': penalty, 
                       'lat': lat, 
                       'lon': lng,
                       'city': city_name,
                       'state': row._3,
                       'industry': row._5}
            ind_cleaned_df = ind_cleaned_df.append(new_row, ignore_index=True)
        
ind_cleaned_df.head()

,company,penalty,lat,lon,city,industry,state
0,Action Manufacturing Company,1200000,39.9473,-75.9754,Atglen,aerospace & military contracting,Pennsylvania
1,Advanced Sterilization Products,136800,33.6772,-117.7738,Irvine,pharmaceuticals,California
2,Ag Processing Inc,96588,43.1487,-93.1998,Mason City,agribusiness,Iowa
3,Agrifos Fertilizer LLC,1800000,29.6584,-95.1499,Pasadena,biofuels; fertilizers,Texas
4,Agrifos Fertilizer LLC,385000,29.6584,-95.1499,Pasadena,biofuels; fertilizers,Texas

In [11]:
# The block of code that gets all the lat/lng coordinates takes a long time to run, so we will save the result in a csv file
cleaned_df.to_csv('../datasets/epa_map.csv', index=False)
ind_cleaned_df.to_csv('../datasets/epa_ind_map.csv',index=False)

In [12]:
# Read in csv file, and we want to sort values so that the violation with the highest penalty is at the top
epa_map = pd.read_csv('../datasets/epa_map.csv',low_memory=False)
epa_map = epa_map.sort_values(by='penalty',ascending=False)
epa_map.head()

epa_ind_map = pd.read_csv('../datasets/epa_ind_map.csv',low_memory=False)
epa_ind_map = epa_ind_map.sort_values(by='penalty',ascending=False)
epa_ind_map.head(n=10)

,company,penalty,lat,lon,city,industry,state
8969,VOLKSWAGEN OF AMERICA,1450000000,42.6735,-83.2447,Auburn Hills,motor vehicles,Michigan
22,BP North America Inc.,408000000,41.6731,-87.4843,Whiting,oil & gas,Indiana
279,BP North America Inc.,408000000,41.6731,-87.4843,Whiting,oil & gas,Indiana
266,Alcoa Inc.,334000000,30.6543,-97.0088,Rockdale,metals,Texas
9,Alcoa Inc.,334000000,30.6543,-97.0088,Rockdale,metals,Texas
2179,BP Products North America Inc.,179000000,29.4128,-94.9658,Texas City,oil & gas,Texas
38,CF Industries Inc.,176201500,28.0144,-82.1200,Plant City,chemicals,Florida
295,CF Industries Inc.,176201500,28.0144,-82.1200,Plant City,chemicals,Florida
8953,Shell Oil,117600000,29.6898,-95.1151,Deer Park,oil & gas,Texas
7649,HYUNDAI MOTOR AMERICA,100000000,33.7105,-117.9514,Fountain Valley,motor vehicles,California

In [18]:
# Setting the text of each marker so that when we hover over a bubble, we know the company, penalty, and location
# The skeleton of how to produce a bubble map can be found on plotly, https://plot.ly/python/bubble-maps/
# We are going to separate groups into the following order: top 50, 51-1000, etc
# Epa penalties = very big so we want to scale these values on the map. Otherwise we won't get a map and instead we'll get very large circles.
# then for every category, we want to create a marker
# once we have all relevant info for an epa violation, we will append it to a list

print(epa_map.shape[0])
epa_map['text'] = epa_map['company'] + '<br>' + epa_map['city'] + ', ' + epa_map['state'] + '<br>Penalty ' + (epa_map['penalty']/1e6).astype(str)+' million'
limits = [(0,50),(51,1000),(1001,10000),(10001,20000),(20001,26583)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","lightgrey"]
cities = []
scale = 100000

for i in range(len(limits)):
    lim = limits[i]
    df_sub = epa_map[lim[0]:lim[1]]
#     print(df_sub.head())
    city = go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = go.scattergeo.Marker(
            size = df_sub['penalty']/scale,
            color = colors[i],
            line = go.scattergeo.marker.Line(
                width=0.5, color='rgb(40,40,40)'
            ),
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    cities.append(city)
print(cities)

26583
[Scattergeo({
    'lat': array([42.6735, 41.6731, 30.6543, 29.4128, 28.0144, 29.6898, 33.7105, 34.037 ,
                  30.203 , 36.0956, 37.2914, 38.734 , 29.4128, 40.5669, 63.9454, 29.8554,
                  29.7868, 35.847 , 42.4438, 39.2091, 37.7562, 39.5743, 30.424 , 39.6401,
                  33.8346, 27.7173, 35.1047, 40.8439, 37.9364, 41.8743, 41.8743, 40.8731,
                  34.1945, 29.4128, 43.851 , 42.4184, 36.0145, 39.6401, 43.5903, 43.064 ,
                  39.6067, 37.052 , 38.5319, 42.7229, 29.8554, 30.0687, 29.6646, 30.229 ,
                  33.9447, 33.5646]),
    'locationmode': 'USA-states',
    'lon': array([ -83.2447,  -87.4843,  -97.0088,  -94.9658,  -82.12  ,  -95.1151,
                  -117.9514,  -80.9042,  -93.215 ,  -79.8269,  -77.2985,  -85.0612,
                   -94.9658,  -74.2475, -149.0152,  -93.9264,  -95.3905,  -77.0659,
                   -91.0091,  -85.918 , -122.443 ,  -75.5939,  -88.5289,  -77.7217,
                  -118.3417,  -97.3822,  -89.9773, -111.9188,  -87.8955,  -71.3743,
                   -71.3743, -111.917 ,  -97.1252,  -94.9658, -104.2124,  -96.4202,
                  -115.0362,  -77.7217,  -83.8886,  -87.9669,  -75.821 ,  -95.6178,
                   -82.6777,  -94.1977,  -93.9264,  -89.9288,  -91.1072,  -93.356 ,
                  -118.1926,  -81.8079]),
    'marker': {'color': 'rgb(0,116,217)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([14500.     ,  4080.     ,  3340.     ,  1790.     ,  1762.015  ,
                               1176.     ,  1000.     ,   923.45   ,   900.     ,   766.2564 ,
                                690.     ,   573.     ,   500.     ,   458.5    ,   403.65   ,
                                399.     ,   390.     ,   327.59   ,   310.     ,   281.2    ,
                                270.     ,   236.7    ,   220.     ,   207.     ,   205.     ,
                                200.     ,   191.     ,   184.28   ,   181.8    ,   180.     ,
                                180.     ,   171.2    ,   160.     ,   150.     ,   141.5    ,
                                141.     ,   137.5    ,   133.     ,   132.1    ,   120.     ,
                                117.5    ,   117.2    ,   100.     ,    93.5    ,    90.72474,
                                 82.44   ,    82.44   ,    82.44   ,    81.01236,    80.675  ]),
               'sizemode': 'area'},
    'name': '0 - 50',
    'text': array(['VOLKSWAGEN OF AMERICA<br>Auburn Hills, Michigan<br>Penalty 1450.0 million',
                   'BP North America Inc.<br>Whiting, Indiana<br>Penalty 408.0 million',
                   'Alcoa Inc.<br>Rockdale, Texas<br>Penalty 334.0 million',
                   'BP Products North America Inc.<br>Texas City, Texas<br>Penalty 179.0 million',
                   'CF Industries Inc.<br>Plant City, Florida<br>Penalty 176.2015 million',
                   'Shell Oil<br>Deer Park, Texas<br>Penalty 117.6 million',
                   'HYUNDAI MOTOR AMERICA<br>Fountain Valley, California<br>Penalty 100.0 million',
                   'PALMETTO RECYCLING<br>Columbia, South Carolina<br>Penalty 92.345 million',
                   'Citgo Petroleum Corporation<br>Lake Charles, Louisiana<br>Penalty 90.0 million',
                   'VOLVO TRUCK CORPORATION<br>Greensboro, North Carolina<br>Penalty 76.62564 million',
                   'Honeywell Resins and Chemicals LLC<br>Hopewell, Virginia<br>Penalty 69.0 million',
                   'Kentucky Utilities Company<br>Ghent, Kentucky<br>Penalty 57.3 million',
                   'British Petroleum<br>Texas City, Texas<br>Penalty 50.0 million',
                   'Hess Corporation<br>Port Reading, New Jersey<br>Penalty 45.85 million',
                   'Golden Valley Electric Association<br>Healy, Alaska<br>Penalty 40.365 million',
                   'Total Petrochemical USA Inc.<br>Port Arthur, Texas<br>Penalty 39.9 million',
                   'ATP OIL & GAS CORPORATION<br>Houston, Texas<br>Penalty 39.0 million',
                   'UNITED ORGANICS CORP<br>Williamston, North Carolina<br>Penalty 32.759 million',
                   'WESTERN DUBUQUE BIODIESEL LLC<br>Farley, Iowa<br>Penalty 31.0 million',
                   'CUMMINS ENGINE CO., INC.<br>Columbus, Indiana<br>Penalty 28.12 million',
                   'CHEMOIL CORPORATION<br>San Francisco, California<br>Penalty 27.0 million',
                   'Delaware City Refinery<br>Delaware City, Delaware<br>Penalty 23.67 million',
                   'Morton International Inc.<br>Moss Point, Mississippi<br>Penalty 22.0 million',
                   'Holcim<br>Hagerstown, Maryland<br>Penalty 20.7 million',
                   'TOYOTA MOTOR SALES USA INC<br>Torrance, California<br>Penalty 20.5 million',
                   'Koch Petroleum Group, L.P.<br>Corpus Christi, Texas<br>Penalty 20.0 million',
                   'Lucite International, Inc.<br>Memphis, Tennessee<br>Penalty 19.1 million',
                   'Big West Oil LLC<br>North Salt Lake, Utah<br>Penalty 18.428 million',
                   'CountryMark Refining and Logistics LLC<br>Mount Vernon, Indiana<br>Penalty 18.18 million',
                   'Southern Union Company<br>Pawtucket, Rhode Island<br>Penalty 18.0 million',
                   'Southern Union Company<br>Pawtucket, Rhode Island<br>Penalty 18.0 million',
                   'Holly Refining & Marketing<br>Woods Cross, Utah<br>Penalty 17.12 million',
                   'VALERO RFNRY CO - OKLAHOMA / VALERO ARDMORE REFINERY<br>Ardmore, Oklahoma<br>Penalty 16.0 million',
                   'BP Products North America Inc.<br>Texas City, Texas<br>Penalty 15.0 million',
                   'Wyoming Refining Co.<br>Newcastle, Wyoming<br>Penalty 14.15 million',
                   'IBP Inc.<br>Dakota City, Nebraska<br>Penalty 14.1 million',
                   'Titanium Metals Corporation<br>Henderson, Nevada<br>Penalty 13.75 million',
                   'MACK TRUCKS INCORPORATED HAGERSTOWN OPERATIONS<br>Hagerstown, Maryland<br>Penalty 13.3 million',
                   'Michigan Sugar<br>Bay City, Michigan<br>Penalty 13.21 million',
                   'Harley-Davidson, Inc.<br>Milwaukee, Wisconsin<br>Penalty 12.0 million',
                   'ELKTON FARM FIREHOLE<br>Elkton, Maryland<br>Penalty 11.75 million',
                   'Coffeyville Resources Refining & Marketing<br>Coffeyville, Kansas<br>Penalty 11.72 million',
                   'Honeywell International Inc.<br>Ironton, Ohio<br>Penalty 10.0 million',
                   'IOWA BEEF PACKERS<br>Dakota City, Iowa<br>Penalty 9.35 million',
                   'FLINT HILLS RESOURCES PORT ARTHUR FACILITY<br>Port Arthur, Texas<br>Penalty 9.072474 million',
                   'LA GASIFICATION FACILITY I LLC - LA GASI<br>New Orleans, Louisiana<br>Penalty 8.244 million',
                   'BOLLINGER MORGAN CITY LLC<br>Amelia, Louisiana<br>Penalty 8.244 million',
                   'BOLLINGER CALCASIEU LLC<br>Sulphur, Louisiana<br>Penalty 8.244 million',
                   'TESORO LOGISTICS OP LLC-VINVALE MARKETIN<br>South Gate, California<br>Penalty 8.101236 million',
                   'NORFOLK SOUTHERN RAILWAY COMPANY<br>Graniteville, South Carolina<br>Penalty 8.0675 million'],
                  dtype=object)
}), Scattergeo({
    'lat': array([48.7543, 28.9454, 41.9667, ..., 39.4452, 47.6211, 41.8229]),
    'locationmode': 'USA-states',
    'lon': array([-122.4687,  -95.3601,  -91.6782, ...,  -75.7165, -122.3244,  -71.4186]),
    'marker': {'color': 'rgb(255,65,54)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([75.   , 75.   , 71.   , ...,  2.91 ,  2.902,  2.9  ]),
               'sizemode': 'area'},
    'name': '51 - 1000',
    'text': array(['OLYMPIC PIPELINE COMPANY<br>Bellingham, Washington<br>Penalty 7.5 million',
                   'GLADIEUX METALS RECYCLING<br>Freeport, Texas<br>Penalty 7.5 million',
                   'Interstate Power and Light, a subsidiary of Alliant Energy<br>Cedar Rapids, Iowa<br>Penalty 7.1 million',
                   ...,
                   'JOHNSON CONTROLS BATTERY GROUP, INC.<br>Middletown, Delaware<br>Penalty 0.291 million',
                   'Unified Grocers<br>Seattle, Washington<br>Penalty 0.2902 million',
                   'PROMET MARINE<br>Providence, Rhode Island<br>Penalty 0.29 million'],
                  dtype=object)
}), Scattergeo({
    'lat': array([40.6079, 29.7868, 35.1053, ..., 34.3718, 29.7868, 37.5427]),
    'locationmode': 'USA-states',
    'lon': array([ -79.7411,  -95.3905, -106.6464, ...,  -81.0907,  -95.3905,  -77.9267]),
    'marker': {'color': 'rgb(133,20,75)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([2.89725, 2.89211, 2.89   , ..., 0.234  , 0.234  , 0.234  ]),
               'sizemode': 'area'},
    'name': '1001 - 10000',
    'text': array(['ALLEGHENY LUDLUM LLC/BRACKENRIDGE<br>Brackenridge, Pennsylvania<br>Penalty 0.289725 million',
                   'W&T Offshore, Inc. (GMG290067)<br>Houston, Texas<br>Penalty 0.289211 million',
                   'Sumco<br>Albuquerque, New Mexico<br>Penalty 0.289 million', ...,
                   'WINNSBORO/JACKSON CREEK PLANT<br>Winnsboro, South Carolina<br>Penalty 0.0234 million',
                   "Del's Plating<br>Houston, Texas<br>Penalty 0.0234 million",
                   'S B COX INC - POWHATAN<br>Powhatan, Virginia<br>Penalty 0.0234 million'],
                  dtype=object)
}), Scattergeo({
    'lat': array([33.1895, 41.4274, 42.2489, ..., 43.0572, 33.2197, 42.0938]),
    'locationmode': 'USA-states',
    'lon': array([-117.2387,  -84.8721,  -83.1399, ...,  -92.3164,  -86.8225,  -76.8097]),
    'marker': {'color': 'rgb(255,133,27)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([0.234  , 0.23375, 0.23375, ..., 0.08   , 0.08   , 0.08   ]),
               'sizemode': 'area'},
    'name': '10001 - 20000',
    'text': array(['Westbridge Agricultural Products (SB)<br>Vista, California<br>Penalty 0.0234 million',
                   'STEEL DYNAMICS, INC - FLAT ROLL GROUP - BUTLER DIVISION<br>Butler, Indiana<br>Penalty 0.023375 million',
                   'ALLSTATE INDUSTRIAL EQUIPMENT CO<br>Ecorse, Michigan<br>Penalty 0.023375 million',
                   ..., 'AGVANTAGE FS, INC<br>New Hampton, Iowa<br>Penalty 0.008 million',
                   'SILVER CREEK SUBDIVISION<br>Alabaster, Alabama<br>Penalty 0.008 million',
                   'CHEMUNG COUNTY LANDFILL<br>Elmira, New York<br>Penalty 0.008 million'],
                  dtype=object)
}), Scattergeo({
    'lat': array([34.5212, 39.7612, 34.4557, ..., 39.6874, 40.7161, 35.353 ]),
    'locationmode': 'USA-states',
    'lon': array([ -82.6479,  -75.4077,  -85.6965, ...,  -74.9785,  -74.0682, -119.036 ]),
    'marker': {'color': 'lightgrey',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([0.08, 0.08, 0.08, ..., 0.05, 0.05, 0.05]),
               'sizemode': 'area'},
    'name': '20001 - 26583',
    'text': array(['UNITED UTIL/CHAMBERT FOREST SD<br>Anderson, South Carolina<br>Penalty 0.008 million',
                   'PEDRICKTOWN COGENERATION PLANT<br>Pedricktown, New Jersey<br>Penalty 0.008 million',
                   'A.P. PLASMAN<br>Fort Payne, Alabama<br>Penalty 0.008 million', ...,
                   'BURNHAM & MORRILL CO C/O B&G FOODS INC<br>Williamstown, New Jersey<br>Penalty 0.005 million',
                   'DG3 NORTH AMERICA INC<br>Jersey City, New Jersey<br>Penalty 0.005 million',
                   'AERA ENERGY<br>Bakersfield, California<br>Penalty 0.005 million'],
                  dtype=object)
})]

In [14]:
print(epa_ind_map.shape[0])
epa_ind_map['text'] = epa_ind_map['company'] + '<br>' + epa_ind_map['city'] + ', ' + epa_ind_map['state'] + '<br>Penalty ' + (epa_ind_map['penalty']/1e6).astype(str)+' million' + '<br>Industry ' + epa_ind_map['industry']
ind_limits = [(0,250),(251,500),(501,1000),(1001,5000),(5001,9069)]
ind_colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","lightgrey"]
ind_cities = []
ind_scale = 100000

for i in range(len(ind_limits)):
    lim = ind_limits[i]
    df_sub = epa_ind_map[lim[0]:lim[1]]
#     print(df_sub.head())
    city = go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = go.scattergeo.Marker(
            size = df_sub['penalty']/ind_scale,
            color = ind_colors[i],
            line = go.scattergeo.marker.Line(
                width=0.5, color='rgb(40,40,40)'
            ),
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    ind_cities.append(city)
print(ind_cities)

9326
[Scattergeo({
    'lat': array([42.6735, 41.6731, 41.6731, ..., 28.4668, 28.5403, 41.451 ]),
    'locationmode': 'USA-states',
    'lon': array([-83.2447, -87.4843, -87.4843, ..., -98.1784, -82.3902, -83.364 ]),
    'marker': {'color': 'rgb(0,116,217)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([1.450e+04, 4.080e+03, 4.080e+03, ..., 1.200e+01, 1.200e+01, 1.175e+01]),
               'sizemode': 'area'},
    'name': '0 - 250',
    'text': array(['VOLKSWAGEN OF AMERICA<br>Auburn Hills, Michigan<br>Penalty 1450.0 million<br>Industry motor vehicles',
                   'BP North America Inc.<br>Whiting, Indiana<br>Penalty 408.0 million<br>Industry oil & gas',
                   'BP North America Inc.<br>Whiting, Indiana<br>Penalty 408.0 million<br>Industry oil & gas',
                   ...,
                   'ULTRAMAR DIAMOND SHAMROCK CORPORATION<br>Three Rivers, Texas<br>Penalty 1.2 million<br>Industry oil & gas',
                   'CEMEX CONSTRUCTION MTLS FLORIDA, LLC<br>Brooksville, Florida<br>Penalty 1.2 million<br>Industry building materials',
                   'MARTIN MARIETTA MAGNESIA SPECIALTIES<br>Woodville, Ohio<br>Penalty 1.175 million<br>Industry building materials'],
                  dtype=object)
}), Scattergeo({
    'lat': array([37.5295, 40.7779, 34.1818, ..., 41.8433, 33.8346, 41.3128]),
    'locationmode': 'USA-states',
    'lon': array([ -77.4756,  -99.7461, -118.2468, ...,  -79.1445, -118.3417,  -81.8313]),
    'marker': {'color': 'rgb(255,65,54)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([11.6875 , 11.42937, 11.25   , ...,  4.69501,  4.695  ,  4.653  ]),
               'sizemode': 'area'},
    'name': '251 - 500',
    'text': array(['E.I. DUPONT DE NEMOURS & COMPANY<br>Richmond, Virginia<br>Penalty 1.16875 million<br>Industry chemicals',
                   'NEBRASKA BY PRODUCTS<br>Lexington, Nebraska<br>Penalty 1.142937 million<br>Industry food products',
                   'Interstate Brands Corporation<br>Glendale, California<br>Penalty 1.125 million<br>Industry baked goods',
                   ...,
                   'UNITED REFINING CO/WARREN PLT<br>Warren, Pennsylvania<br>Penalty 0.469501 million<br>Industry retailing and oil refining',
                   'TORRANCE REFINING COMPANY LLC<br>Torrance, California<br>Penalty 0.4695 million<br>Industry oil & gas',
                   'Lesco, Inc.<br>Strongsville, Ohio<br>Penalty 0.4653 million<br>Industry agricultural equipment'],
                  dtype=object)
}), Scattergeo({
    'lat': array([40.5203, 40.5416, 32.7321, ..., 40.1191, 40.1106, 29.7914]),
    'locationmode': 'USA-states',
    'lon': array([-74.2724, -74.3124, -90.4604, ..., -74.8094, -76.7149, -95.1145]),
    'marker': {'color': 'rgb(133,20,75)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([4.63745, 4.632  , 4.625  , ..., 1.838  , 1.83386, 1.82978]),
               'sizemode': 'area'},
    'name': '501 - 1000',
    'text': array(['BUCKEYE PARTNERS<br>Perth Amboy, New Jersey<br>Penalty 0.463745 million<br>Industry pipelines',
                   'LANXESS SOLUTIONS US INC   (FORM CHEMTURA/ HATCO)<br>Fords, New Jersey<br>Penalty 0.4632 million<br>Industry chemicals',
                   'DENBURY ONSHORE LLC, TINSLEY CENTRAL FACILITY<br>Tinsley, Mississippi<br>Penalty 0.4625 million<br>Industry oil & gas',
                   ...,
                   'GRIFFIN PIPE PRODUCTS INC<br>Florence, New Jersey<br>Penalty 0.1838 million<br>Industry pipe manufacturing',
                   'BRUNNER ISLAND LLC<br>York Haven, Pennsylvania<br>Penalty 0.183386 million<br>Industry private equity (including portfolio companies)',
                   'EQUISTAR CHEMICALS CHANNELVIEW COMPLEX<br>Channelview, Texas<br>Penalty 0.182978 million<br>Industry chemicals'],
                  dtype=object)
}), Scattergeo({
    'lat': array([40.8387, 28.6715, 28.6715, ..., 40.8822, 36.2291, 37.5265]),
    'locationmode': 'USA-states',
    'lon': array([-115.7674,  -96.5589,  -96.5589, ...,  -73.9466, -115.2607, -121.9852]),
    'marker': {'color': 'rgb(255,133,27)',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([1.82 , 1.814, 1.814, ..., 0.16 , 0.16 , 0.16 ]),
               'sizemode': 'area'},
    'name': '1001 - 5000',
    'text': array(['Veris Gold USA, Inc<br>Elko, Nevada<br>Penalty 0.182 million<br>Industry mining',
                   'ALCOA POINT COMFORT OPERATIONS<br>Point Comfort, Texas<br>Penalty 0.1814 million<br>Industry metals',
                   'ALCOA POINT COMFORT OPERATIONS<br>Point Comfort, Texas<br>Penalty 0.1814 million<br>Industry metals',
                   ...,
                   'Ferrair North America, Inc.<br>Englewood Cliffs, New Jersey<br>Penalty 0.016 million<br>Industry motor vehicles',
                   'GEORGIA-PACIFIC GYPSUM LLC<br>Las Vegas, Nevada<br>Penalty 0.016 million<br>Industry diversified',
                   'TESLA MOTORS, INC<br>Fremont, California<br>Penalty 0.016 million<br>Industry motor vehicles'],
                  dtype=object)
}), Scattergeo({
    'lat': array([39.5743, 34.9437, 39.84  , ..., 41.4431, 42.0938, 39.5849]),
    'locationmode': 'USA-states',
    'lon': array([-75.5939, -81.9257, -75.2397, ..., -87.4699, -76.8097, -85.8627]),
    'marker': {'color': 'lightgrey',
               'line': {'color': 'rgb(40,40,40)', 'width': 0.5},
               'size': array([0.16, 0.16, 0.16, ..., 0.05, 0.05, 0.05]),
               'sizemode': 'area'},
    'name': '5001 - 9069',
    'text': array(['EASTERN SHORE NATURAL GAS-DELAWARE CITY<br>Delaware City, Delaware<br>Penalty 0.016 million<br>Industry utilities',
                   'MICHELIN NORTH AMERICA INC - SPARTANBURG FACILITY (US3)<br>Spartanburg, South Carolina<br>Penalty 0.016 million<br>Industry automotive parts-tires',
                   'PAULSBORO REFINING CO (FORM: VALERO)<br>Paulsboro, New Jersey<br>Penalty 0.016 million<br>Industry oil & gas',
                   ...,
                   'ANR PIPELINE COMPANY - ST JOHN STATION<br>Saint John, Indiana<br>Penalty 0.005 million<br>Industry pipelines',
                   'BAKER HUGHES CORP<br>Elmira, New York<br>Penalty 0.005 million<br>Industry diversified',
                   'JUPITER ALUMINUM - COILCOATING DIVISION<br>Fairland, Indiana<br>Penalty 0.005 million<br>Industry aluminum recycling'],
                  dtype=object)
})]

In [23]:
# create the layout for the visualization
layout = go.Layout(
        title = go.layout.Title(
            text = 'EPA Violations 2000-2019<br>(Click legend to toggle traces)'
        ),
        showlegend = True,
        geo = go.layout.Geo(
            scope = 'usa',
            projection = go.layout.geo.Projection(
                type='albers usa'
            ),
            showland = True,
            subunitwidth=1,
            countrywidth=1,
        )
    )

ind_layout = go.Layout(
        title = go.layout.Title(
            text = 'EPA Violations 2000-2019 (Industries)<br>(Click legend to toggle traces)'
        ),
        showlegend = True,
        geo = go.layout.Geo(
            scope = 'usa',
            projection = go.layout.geo.Projection(
                type='albers usa'
            ),
            showland = True,
            subunitwidth=1,
            countrywidth=1,
        )
    )

In [24]:
# plot visualization
fig = go.Figure(data=cities, layout=layout)
py.iplot(fig, filename='d3-bubble-map-epa')

In [22]:
# plot visualization
fig = go.Figure(data=ind_cities, layout=ind_layout)
py.iplot(fig, filename='d3-bubble-map-epa-by-ind')